# Приватные ключи (никогда не загружайте!)
*.pem

# Упакованные расширения (уже есть в релизах, не нужно в репозитории)
*.crx

# Скомпилированные исполняемые файлы (храните в релизах, не в коде)
*.exe

# Временные файлы Python
__pycache__/
*.pyc
*.pyo

# Папка сборки (если используете)
build/
dist/
*.spec

# Настройки редакторов (личные)
.vscode/
.idea/
*.suo
*.user

# Системные файлы
Thumbs.db
Desktop.ini

# Архивы (если случайно создадите в репозитории)
*.zip
*.rar
*.7z

# Папки (котрые не должны отображатся в репозитории)
release/
images/
release_webstore/